recursive-include man-pages *.gz
recursive-include man-pages *.xml
recursive-include scripts *
include linstor-common/linstor/proto/*.proto
include linstor-common/*.json
include linstor-common/*.py
include linstor-common/*.xml
include linstor-common/Makefile
include MANIFEST.in
include COPYING
include README.md
include Makefile
include setup.cfg.sles11
