recursive-include man-pages *.gz
recursive-include man-pages *.xml
recursive-include scripts *
include MANIFEST.in
include COPYING
include README.md
include Makefile
include Dockerfile
include setup.cfg.py2
