#!/usr/bin/make -f

export PYBUILD_NAME = linstor-client
export PYBUILD_DISABLE=test

WITH_BASHCOMPL=$(shell dh --list 2>/dev/null | sed -ne 's/^bash-completion$$/--with bash-completion/p')

%:
	dh $@ --with python3 --buildsystem=pybuild $(WITH_BASHCOMPL)

override_dh_auto_build:
	dh_auto_build

override_dh_install:
	dh_install --fail-missing
ifneq ($(WITH_BASHCOMPL),)
	# installed by setup.py to /etc/bash_completion.d/
	# let dh_bash-completion handle it
	rm -rf $(CURDIR)/debian/linstor-client/etc/bash_completion.d
endif
